/* for some reason it doesn't transition when going from one path to another */
.gender-pie path {
    transition: 0.7s;
}
/* when you hover over the arc class, affect its path child. This way it also works when you hover over the text */
.gender-pie:hover > path {
    fill: yellow;
}

.industry-pie {
    transition: 0.3s;
}
.industry-pie:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.state {
    stroke: #333333;
    transition: 0.15s;
}
.state:hover {
    fill: orange;
}

.grad-year .line {
    stroke: steelblue;
    stroke-width: 4px;
}

.grad-year .x-axis {
    stroke-width: 2px;
}

.grad-year .y-axis {
    stroke-width: 2px;
}

.grad-year .tick {
    font-size: 1.2em;
}

.grad-school .x-axis {
    stroke-width: 2px;
}

.grad-school .y-axis {
    stroke-width: 2px;
}

.grad-school .tick {
    font-size: 1.1em;
}